@import './base.css';

#app {
  min-height: 100vh;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
select,
textarea {
  font: inherit;
}

body {
  margin: 0;
}

.p-inputtext,
.p-component {
  box-sizing: border-box;
}
